{% include 'partials/_header.html.twig' %}
		<main>

			<h1>Liste des cocktails</h1>
            <div id="article-order">
			{% for cocktail in cocktails %}
    
                    <article class="list-articles article">

						<h2>{{ cocktail.nom }}</h2>
                        <div class="cocktail-card"><img src="{{ cocktail.image }}" /></div>
                        <p>Ingrédients :<ul>{% for ingredient in cocktail.ingredients %} <li>{{ ingredient }}</li>{% endfor %}</ul>
						</p>
                        <p>{{ cocktail.description }}</p>
						<p>{{ cocktail.date_creation | date('d-m-Y')}}
                        <p>{{ cocktail.id }}</p>		

					</article>
				
			{% endfor %}
            </div>
		</main>

{% include 'partials/_footer.html.twig' %}